@model Invoices.Models.Invoice

@{
    ViewData["Title"] = "Pregled";
}

<h1>Pregled</h1>

<div>
    <h4>Račun</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            BROJ_KUPCA
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomerID)
        </dd>
        <dt class = "col-sm-2">
            DATUM_RACUNA
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InvoiceDate)
        </dd>
        <dt class = "col-sm-2">
            VRIJEDNOST
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalValue)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Natrag</a>
</div>
