@model IEnumerable<Invoices.Models.Invoice>

@{
    ViewData["Title"] = "Svi računi";
}

<h1>Svi računi</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                BROJ_KUPCA
            </th>
            <th>
                DATUM_RACUNA
            </th>
            <th>
                VRIJEDNOST
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InvoiceDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalValue)
            </td>
            <td>
                    <a asp-action="Details" asp-route-id="@item.ID">Pregled</a>
            </td>
        </tr>
}
    </tbody>
</table>
